// TEXT-COLORS
$primary-text: #2c3e50;
$dark-text: #1c2334;

// BACKGROUND-COLORS
$body-background: #f5f7f8;

$success: #42b983;

// NORMAL-COLORS
$white: #ffffff;
$black: #000000;

// FONTS
$font-primary: "Hind Siliguri", sans-serif;

// MIXINS
@mixin setBgColor($bg, $color) {
  background: $bg;
  color: $color;
}

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 87.5%;
  scroll-behavior: smooth;

  &:focus-within {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  @include setBgColor($body-background, $primary-text);
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
button,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;

  &::selection {
    @include setBgColor($dark-text, $white);
  }
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
input,
textarea,
select,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-weight: 700;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small {
  font-size: 0.8rem;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

input,
textarea,
select {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
